*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' sans-serif;
}
.section-p1{
    padding: 20px 40px;
}
body{
    background-color: whitesmoke;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    padding: 15px 40px ;
    width: 100%;
}
#nav-items ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: 18px;
}
#nav-items ul a{
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#nav-items ul a:hover{
    color: rgb(105, 83, 83);
}
#title{
    font-weight: 600;
    font-size: 26px;
    color: whitesmoke;
}
#title span{
    color: rgb(206, 14, 14);
}
#nav-items ul a,
#title a{
    text-decoration: none;
    color: antiquewhite;
}

/* hero section */
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("img/banner/beetle.jpg");
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 20px;
}
.hero div{
    margin: 40px;
    text-align: start;
    font-size: 30px;
    font-weight: 700;
    color: azure;
    position: absolute;
    top: 22%;
}
.hero div a{
    text-decoration: none;
    /* background-color: beige; */
    color: red;
    border-radius: 10px;
    padding: 4px;
    font-weight: 300;
    font-size: 13px;
}
.hero div a:hover{
    background-color: rgb(215, 181, 137);
}
.hero div span{
    color: rgb(206, 14, 14);
}

/* images */
#images{
    padding: 20px;
    text-align: center;
}
.image-header{
    font-weight: 200;
    padding-bottom: 20px;
    font-size: 30px;
    font-style: italic;
}
#images .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#images .img-cont{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 50%;
    padding: 10px 12px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid rgb(234, 225, 225);
    box-shadow: rgb(0, 0, 0);
}
.img-cont h4{
    font-style: italic;
    font-weight: 100;
    color: black;
    text-align: start;
}
.img-cont span{
    font-weight: 100;
    text-align: start;
}
#images .container .img-cont img{
    width: 100%;
    height: 50%;
    border-radius: 4px;
    padding: 8px;
}

/* footer  */
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px 80px;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: rgb(125, 123, 119);
}
.col{
    width: 200px;
    align-content: center;
    justify-items: center;
    margin-bottom: 20px;
}
.col h4{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}
.col img{
    height: 20px;
    margin-right: 10px;
}

.col a{
    text-decoration: none;
    color: black;
}

.copyright{
    padding: 10px;
    text-align: center;
    background-color: rgb(125, 123, 119);
}
.copyright span{
    font-weight: 300;
}
/* media queries */
@media screen and (max-width: 480px){
    #navbar {
        padding: 20px 4px;
    }
    #nav-items ul a {
        padding-right: 8px;
    }
    .hero {
        height: 60vh;
    }
    .hero p {
        top: 25%;
    }
    #images .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #images .img-cont {
        width: 100%;
        height: 50%;
    }
    #title{
        font-size: 20px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        align-items: start;
    }
    .img-cont h4 {
        font-size: 14px;
    }
    .img-cont span {
        font-size: 15px;
    }
}
